body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #74C3DF, #772A52);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #1f1c1c;
}

.login-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 20px;
    background:white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px; /* Container width */
}

.input-group {
    margin: 15px 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #100f0f;
}

.input-group input {
    width: 150%; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(171, 168, 168, 0.858);
    box-sizing: border-box;
   
    
}

button {
    width:150px; 
    padding: 10px;
    font-size: 20px;
    font-style: unset;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(45deg, #dfa42c, #8a0959);
    color: white;
    border: 2px solid #08090b;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

button:hover {
    background: linear-gradient(45deg, #ff758c, #dfa42c);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95); 
}
.forgot-password {
    font-size: 14px;
    color: #351791; 
    text-decoration: none;
    margin-top: 15px; 
    transition: color 0.3s ease;
}
