body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #74C3DF, #78c9ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #1f1c1c;
}
.new-reg {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 20px;
    background:white; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px; /* Container width */
    }
  
    button{
        display: block;
        font-size: 20px;
        width: 150px;
        margin: 15px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center;
    }
    .new-password {
        font-size: 14px;
        color: #351791; 
        text-decoration: none;
        margin-top: 20px; 
        transition: color 0.3s ease;
    }
    .extra-spacing input{
        background-color: rgb(211, 211, 211);
        size: 200px;

    }