<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <!-- INclude / before refrence -->
    <link rel="stylesheet" href="/NewReg.css">
    </head>
<body>
    <div class="new-reg">
        <h2>Register</h2>
        <!-- Action specified -->
        <form action="" method="POST">
            <div class="extra-spacing">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname"  required>
            </div>

            <div class="extra-spacing">
                <label for="lname">Last Name (Optional)</label>
                <input type="text" id="lname" name="lname">
            </div>
            
            <div class="extra-spacing">
                <label for="number">Phone No</label>
                <input type="text" id="number" name="number" required>
            </div>
            
            <div class="extra-spacing">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="submit">
                <button type="submit">Register</button>
            </div>
        </form> 
            <p class="register-link">Already Exists? <a href="/api/login">Login</a></p>
    </div>
</body>
<footer></footer>
</html>