*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
body{
    background: linear-gradient(135deg, #5c8b9c, #4d245e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.new-reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width:520px;
    height: 520px;
    text-align: center;
    font-family: sans-serif;
}
.new-reg h2{
    margin: 20px 0px;
}
.extra-spacing label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 3px;

}
.extra-spacing input{
    width: 100%; 
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(171, 168, 168, 0.858);
    box-sizing: border-box;

}
.extra-spacing{
    padding:10px;
}
.submit button{
    width:150px; 
    padding: 20px;
    font-size: 16px;
    font-style: unset;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(#3200bc, #058bb8);
    color: white;
    border: 2px solid #08090b;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    margin: 10px auto;
}

.submit button:hover {
    background: linear-gradient(#a483ff, #96e5ff);
    transform: scale(1.05);
}

.submit button:active {
    transform: scale(0.95); 
}